<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>sp_bottom_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,437},{422,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,69}}</string>
                <key>sourceSize</key>
                <string>{422,69}</string>
            </dict>
            <key>sp_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,437},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>sp_pointer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,201},{170,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,194}}</string>
                <key>sourceSize</key>
                <string>{170,194}</string>
            </dict>
            <key>sp_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,373},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_res_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,197},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_res_ingot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>sp_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,570}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>sp_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{433,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,433}}</string>
                <key>sourceSize</key>
                <string>{433,433}</string>
            </dict>
            <key>sp_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,512},{349,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,29}}</string>
                <key>sourceSize</key>
                <string>{349,29}</string>
            </dict>
            <key>table_sp_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{423,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{423,425}}</string>
                <key>sourceSize</key>
                <string>{433,433}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{1824,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6d3897e84f7c2482f988bca2773e54$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
