.gradle
.DS_Store
/__*


/info/
/obj/
/run/
/cocostudio/
/frameworks/
/client/ciphercode/
/client_publish/
/simulator/

client.config
client.luaproj
/.cocos-project.json
/.project

/log/
/saverec/
/friend/
/downrec/

/client/version.plist
/client/UserDefault.xml
/client/user_gameconfig.plist



