<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_return_0_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,389},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bt_return_1_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,389},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>btn_agree_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,142},{245,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,80}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_agree_dissolve_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,72},{208,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{208,68}}</string>
                <key>sourceSize</key>
                <string>{234,76}</string>
            </dict>
            <key>btn_refuse_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,142},{245,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,80}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>btn_refuse_dissolve_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{208,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{208,68}}</string>
                <key>sourceSize</key>
                <string>{234,76}</string>
            </dict>
            <key>sp_bg_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{809,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{809,493}}</string>
                <key>sourceSize</key>
                <string>{809,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dissolv_public.png</string>
            <key>size</key>
            <string>{1023,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d6562477b9accbc9ddcecb592c65f9$</string>
            <key>textureFileName</key>
            <string>dissolv_public.png</string>
        </dict>
    </dict>
</plist>
