<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{3771,776},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn_join_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,904},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>btn_return_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,904},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>btn_return_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,698},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3429,935},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>friend_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,280},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>friend_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3825,687},{82,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,21}}</string>
                <key>sourceSize</key>
                <string>{82,21}</string>
            </dict>
            <key>friend_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3825,603},{82,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,21}}</string>
                <key>sourceSize</key>
                <string>{82,21}</string>
            </dict>
            <key>friend_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2502,525},{125,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,31}}</string>
                <key>sourceSize</key>
                <string>{125,31}</string>
            </dict>
            <key>pri_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,860},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pri_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,780},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pri_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,920},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>pri_btn_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,834},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>pri_btn_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,444},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>pri_btn_clear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,786},{103,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{103,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_clear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,786},{103,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{103,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2979,444},{326,422}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{326,422}}</string>
                <key>sourceSize</key>
                <string>{328,428}</string>
            </dict>
            <key>pri_btn_del_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3395,984},{103,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,28},{103,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_del_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3395,984},{103,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,28},{103,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,867},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>pri_btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2320,444},{230,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,79}}</string>
                <key>sourceSize</key>
                <string>{230,79}</string>
            </dict>
            <key>pri_btn_jiesan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,834},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>pri_btn_jiesan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2298,525},{202,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{202,68}</string>
            </dict>
            <key>pri_btn_joingame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3577,776},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>pri_btn_joingame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,786},{230,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,79}}</string>
                <key>sourceSize</key>
                <string>{230,79}</string>
            </dict>
            <key>pri_btn_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{324,420}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{324,420}}</string>
                <key>sourceSize</key>
                <string>{328,428}</string>
            </dict>
            <key>pri_btn_num_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3564,984},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3564,984},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3825,771},{17,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,26},{17,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3825,771},{17,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,26},{17,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,489},{31,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,26},{31,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,489},{31,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,26},{31,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,891},{31,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,28},{31,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,891},{31,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,28},{31,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3501,867},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,28},{31,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3501,867},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,28},{31,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3533,984},{29,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3533,984},{29,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,924},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,28},{29,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3539,924},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,28},{29,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3500,984},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,26},{31,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3500,984},{31,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,26},{31,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2595,444},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2595,444},{29,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,26},{29,38}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3501,900},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,28},{29,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_num_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3501,900},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,28},{29,36}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>pri_btn_return_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3717,844},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>pri_btn_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3577,844},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>pri_btn_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2186,610},{370,441}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{370,441}}</string>
                <key>sourceSize</key>
                <string>{420,469}</string>
            </dict>
            <key>pri_btn_sharegrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,698},{267,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,134}}</string>
                <key>sourceSize</key>
                <string>{267,134}</string>
            </dict>
            <key>pri_btn_sharegrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,698},{267,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,134}}</string>
                <key>sourceSize</key>
                <string>{267,134}</string>
            </dict>
            <key>pri_btn_switchrecord_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,850},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_btn_switchrecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,780},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_room_ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{2502,558},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>pri_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{2924,982},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>pri_sp_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,141},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,29}}</string>
                <key>sourceSize</key>
                <string>{137,29}</string>
            </dict>
            <key>pri_sp_createcost.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,498},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_createtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{3289,935},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>pri_sp_createuser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2784,982},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>pri_sp_dissolvetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2644,982},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>pri_sp_friend_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3577,626},{148,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,246}}</string>
                <key>sourceSize</key>
                <string>{148,248}</string>
            </dict>
            <key>pri_sp_friend_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,626},{158,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,268}}</string>
                <key>sourceSize</key>
                <string>{158,268}</string>
            </dict>
            <key>pri_sp_ideditbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3352,2},{622,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,463}}</string>
                <key>sourceSize</key>
                <string>{622,463}</string>
            </dict>
            <key>pri_sp_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1260,694}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1260,694}}</string>
                <key>sourceSize</key>
                <string>{1260,700}</string>
            </dict>
            <key>pri_sp_listline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,518},{1032,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,86}}</string>
                <key>sourceSize</key>
                <string>{1032,86}</string>
            </dict>
            <key>pri_sp_listline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,606},{1156,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1156,2}}</string>
                <key>sourceSize</key>
                <string>{1156,2}</string>
            </dict>
            <key>pri_sp_listline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,698},{510,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,80}}</string>
                <key>sourceSize</key>
                <string>{510,80}</string>
            </dict>
            <key>pri_sp_roomid.png</key>
            <dict>
                <key>frame</key>
                <string>{{3257,967},{136,34}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{178,34}</string>
            </dict>
            <key>pri_sp_roominfotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2979,960},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>pri_sp_roomlimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,920},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>pri_sp_roomscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,444},{178,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,34}}</string>
                <key>sourceSize</key>
                <string>{178,34}</string>
            </dict>
            <key>pri_sp_roomstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,393},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,2},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,29}}</string>
                <key>sourceSize</key>
                <string>{137,29}</string>
            </dict>
            <key>pri_sp_systemtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{3119,960},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>pri_sp_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{1054,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1054,514}}</string>
                <key>sourceSize</key>
                <string>{1054,514}</string>
            </dict>
            <key>pri_sp_uinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,982},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,30}}</string>
                <key>sourceSize</key>
                <string>{138,30}</string>
            </dict>
            <key>sp_joinroom_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,920},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>sp_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2298,595},{36,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,3}}</string>
                <key>sourceSize</key>
                <string>{36,3}</string>
            </dict>
            <key>sp_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2629,444},{348,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,536}}</string>
                <key>sourceSize</key>
                <string>{348,536}</string>
            </dict>
            <key>sp_please_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2186,982},{316,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,30}}</string>
                <key>sourceSize</key>
                <string>{316,30}</string>
            </dict>
            <key>sp_record_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2320,2},{1030,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1030,440}}</string>
                <key>sourceSize</key>
                <string>{1030,440}</string>
            </dict>
            <key>sp_record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2979,868},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>sp_shuzi_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,610},{920,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,394}}</string>
                <key>sourceSize</key>
                <string>{920,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{3848,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac9172839f1bf8a7afc4e609c264c146$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
