<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_Chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,897},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,605},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,721},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,897},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1013},{118,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Guo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1013},{118,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,897},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1013},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,629},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,745},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{114,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1013},{114,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,118}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_Ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1013},{114,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,118}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,491},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bt_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1003},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bt_chat_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_chat_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,87},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_invite_friend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,59},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_invite_friend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_quit_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,173},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_quit_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,745},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_ready_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_ready_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,59},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_send_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,837},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>bt_send_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,837},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>bt_setting_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,831},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_setting_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,917},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bt_voice_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,629},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,60}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>bt_voice_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,949},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>card_round_big_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,325},{98,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,142}}</string>
                <key>sourceSize</key>
                <string>{98,142}</string>
            </dict>
            <key>card_round_middle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,535},{92,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,124}}</string>
                <key>sourceSize</key>
                <string>{98,142}</string>
            </dict>
            <key>card_round_small_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,935},{56,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,76}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>card_round_small_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1013},{56,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,76}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>cbx_switch_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{280,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,56}}</string>
                <key>sourceSize</key>
                <string>{280,56}</string>
            </dict>
            <key>cbx_switch_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{280,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,56}}</string>
                <key>sourceSize</key>
                <string>{280,56}</string>
            </dict>
            <key>num_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,59},{190,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,28}}</string>
                <key>sourceSize</key>
                <string>{190,28}</string>
            </dict>
            <key>sp_BaoPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,837},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>sp_DongNanXiBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,371},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_HuiPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,837},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>sp_ZhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,691},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sp_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1079},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>sp_blank_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,861},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>sp_card_bottom_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,901},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>sp_card_bottom_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,427},{106,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,134}}</string>
                <key>sourceSize</key>
                <string>{106,134}</string>
            </dict>
            <key>sp_chatSend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,5},{434,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,52}}</string>
                <key>sourceSize</key>
                <string>{434,52}</string>
            </dict>
            <key>sp_chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{542,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,2}}</string>
                <key>sourceSize</key>
                <string>{542,2}</string>
            </dict>
            <key>sp_chat_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,605},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>sp_clock_Bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,533},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,695},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,857},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,577},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Dong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,739},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Dong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,337},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Dong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,573},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Dong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,735},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,5},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,167},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Xi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,163},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Xi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,163},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Xi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,329},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_clock_Xi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,325},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_headCover_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,325},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>sp_info_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,59},{176,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,38}}</string>
                <key>sourceSize</key>
                <string>{176,38}</string>
            </dict>
            <key>sp_other_Chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1019},{112,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{112,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_other_Gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,725},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_other_Guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,487},{124,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{124,116}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_other_Hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,613},{108,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{108,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_other_Peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1019},{118,112}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{118,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_other_Ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,901},{108,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{108,110}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>sp_ready_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,499},{154,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,72}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sp_roomCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,371},{204,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,74}}</string>
                <key>sourceSize</key>
                <string>{204,74}</string>
            </dict>
            <key>sp_roomHost_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,949},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>sp_round_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,469},{98,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,142}}</string>
                <key>sourceSize</key>
                <string>{98,142}</string>
            </dict>
            <key>sp_round_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,499},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>sp_title_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,629},{176,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,38}}</string>
                <key>sourceSize</key>
                <string>{176,38}</string>
            </dict>
            <key>sp_title_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,259},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>sp_title_musicEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,251},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>sp_title_setLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1013},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameScene_cy.png</string>
            <key>size</key>
            <string>{1024,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4afef5aeb16b6344a76c73d6676e07a:f00877e2313c745ef8946aa463eb0a91:1d5083642c513460339b6bd545765b4c$</string>
            <key>textureFileName</key>
            <string>gameScene_cy.png</string>
        </dict>
    </dict>
</plist>
