<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>389_sp_listen_anyCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,217},{73,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,24}}</string>
                <key>sourceSize</key>
                <string>{73,24}</string>
            </dict>
            <key>389_sp_listen_manyCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,280},{117,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,24}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
            <key>sp_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{214,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>sp_bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{214,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>sp_chooseFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,246},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>sp_fangPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,213},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>sp_listenBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{328,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,105}}</string>
                <key>sourceSize</key>
                <string>{328,105}</string>
            </dict>
            <key>sp_listenBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,243},{1,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,73}}</string>
                <key>sourceSize</key>
                <string>{1,73}</string>
            </dict>
            <key>sp_listenBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{210,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,73}}</string>
                <key>sourceSize</key>
                <string>{210,73}</string>
            </dict>
            <key>sp_listenNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,289},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>sp_listenPromptFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,246},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>sp_listenTimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,289},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>sp_ziMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,264},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{252,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2e9e50d95c34971ccf7cba59589d03:5a866f5609856410eb43aee365e32c97:3e7279aa76361033417b8b996ea8b6d0$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
