<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_cancelRoom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1033},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>bt_cancelRoom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1607},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>bt_create_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,753},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>bt_create_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,957},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>num_Ba_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1451},{240,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,26}}</string>
                <key>sourceSize</key>
                <string>{240,26}</string>
            </dict>
            <key>num_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1471},{170,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,18}}</string>
                <key>sourceSize</key>
                <string>{170,18}</string>
            </dict>
            <key>sp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>sp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{1260,696}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1260,696}}</string>
                <key>sourceSize</key>
                <string>{1260,700}</string>
            </dict>
            <key>sp_cell_Ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1113},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>sp_cell_BaXuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1451},{208,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,34}}</string>
                <key>sourceSize</key>
                <string>{208,34}</string>
            </dict>
            <key>sp_cell_BaoPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1161},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>sp_cell_ChangMaoGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1451},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>sp_cell_DianPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1451},{258,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,34}}</string>
                <key>sourceSize</key>
                <string>{258,34}</string>
            </dict>
            <key>sp_cell_FangKa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1471},{162,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,28}}</string>
                <key>sourceSize</key>
                <string>{162,28}</string>
            </dict>
            <key>sp_cell_HuiPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1261},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>sp_cell_JiaHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1361},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>sp_cell_Ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1113},{44,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>sp_cell_WanFa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1451},{208,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,34}}</string>
                <key>sourceSize</key>
                <string>{208,34}</string>
            </dict>
            <key>sp_cell_XuanFengGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1471},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>sp_cell_ZanLiHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1471},{152,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>sp_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1627},{52,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sp_check_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1661},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sp_myRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1451},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>sp_sub_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{1030,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1030,80}}</string>
                <key>sourceSize</key>
                <string>{1030,80}</string>
            </dict>
            <key>sp_sub_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1451},{1030,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1030,280}}</string>
                <key>sourceSize</key>
                <string>{1030,280}</string>
            </dict>
            <key>sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1161},{308,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createRoom.png</string>
            <key>size</key>
            <string>{1418,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f95944ea7369000f122520427de0e046:a0d6063c0dcb4d33ff65661f65af4a61:b1c47905897eaa0944c9121c44ea394d$</string>
            <key>textureFileName</key>
            <string>createRoom.png</string>
        </dict>
    </dict>
</plist>
