<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_share_totalResult_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1263},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_share_totalResult_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1263},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_totalResult_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1263},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_totalResult_return_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1263},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>num_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1249},{140,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,18}}</string>
                <key>sourceSize</key>
                <string>{140,18}</string>
            </dict>
            <key>num_totalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1},{200,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,24}}</string>
                <key>sourceSize</key>
                <string>{200,24}</string>
            </dict>
            <key>sp_count_AnGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1249},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_count_DianPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,705},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_count_HuPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,729},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_count_MingGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,203},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_count_ZhuangZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,341},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_count_ZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,479},{132,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>sp_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,613},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sp_roomHost_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>sp_sign_DaYingJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1249},{220,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,132}}</string>
                <key>sourceSize</key>
                <string>{220,132}</string>
            </dict>
            <key>sp_sign_ZuiGuaPaoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1263},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>sp_totalResult_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>sp_totalResult_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{1220,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1220,508}}</string>
                <key>sourceSize</key>
                <string>{1220,508}</string>
            </dict>
            <key>sp_totalResult_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,753},{278,494}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{278,494}}</string>
                <key>sourceSize</key>
                <string>{278,500}</string>
            </dict>
            <key>sp_totalResult_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{702,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,72}}</string>
                <key>sourceSize</key>
                <string>{702,72}</string>
            </dict>
            <key>sp_totalScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,203},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>totalResultRoom_cy.png</string>
            <key>size</key>
            <string>{1502,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:974bde34263f4bc3cc790104edcc9dfc:1c6546b908617f75d41b41aaf98a293a:e695d23793f44f834ab36bb85fb1e308$</string>
            <key>textureFileName</key>
            <string>totalResultRoom_cy.png</string>
        </dict>
    </dict>
</plist>
