<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,186},{204,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,153}}</string>
                <key>sourceSize</key>
                <string>{206,155}</string>
            </dict>
            <key>btn_sys_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,396},{183,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,174}}</string>
                <key>sourceSize</key>
                <string>{183,174}</string>
            </dict>
            <key>btn_zdy_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,4},{190,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,176}}</string>
                <key>sourceSize</key>
                <string>{190,176}</string>
            </dict>
            <key>qr_btn_save_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,659},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_save_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,585},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_share_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,883},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,883},{194,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{194,68}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>qr_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,4},{678,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,730}}</string>
                <key>sourceSize</key>
                <string>{678,730}</string>
            </dict>
            <key>qr_sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,870},{217,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,51}}</string>
                <key>sourceSize</key>
                <string>{217,51}</string>
            </dict>
            <key>sp_head_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1022,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,583}}</string>
                <key>sourceSize</key>
                <string>{1022,583}</string>
            </dict>
            <key>sp_head_sel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,688},{736,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,398}}</string>
                <key>sourceSize</key>
                <string>{736,398}</string>
            </dict>
            <key>sp_mypromoter_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1092},{212,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,44}}</string>
                <key>sourceSize</key>
                <string>{212,44}</string>
            </dict>
            <key>sp_normal_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,593},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>sp_promoter_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1092},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
            <key>sp_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,593},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>sp_select_head_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,688},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>sp_sys_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,186},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>uinfo_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1034},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>uinfo_btn_contact.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1034},{87,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,101}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>uinfo_btn_copy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,733},{158,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,78}}</string>
                <key>sourceSize</key>
                <string>{158,78}</string>
            </dict>
            <key>uinfo_btn_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,688},{189,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,93}}</string>
                <key>sourceSize</key>
                <string>{189,93}</string>
            </dict>
            <key>uinfo_btn_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,817},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>uinfo_btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,936},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>uinfo_sp_copytips.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1108},{362,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{362,33}}</string>
                <key>sourceSize</key>
                <string>{364,35}</string>
            </dict>
            <key>uinfo_sp_edit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,688},{375,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,61}}</string>
                <key>sourceSize</key>
                <string>{375,61}</string>
            </dict>
            <key>uinfo_sp_giventips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,4},{580,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,44}}</string>
                <key>sourceSize</key>
                <string>{580,44}</string>
            </dict>
            <key>uinfo_sp_qrtips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1083},{206,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,58}}</string>
                <key>sourceSize</key>
                <string>{208,60}</string>
            </dict>
            <key>uinfo_sp_sharebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,593},{819,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,509}}</string>
                <key>sourceSize</key>
                <string>{819,509}</string>
            </dict>
            <key>uinfo_sp_sharetips.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1108},{448,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{448,32}}</string>
                <key>sourceSize</key>
                <string>{450,34}</string>
            </dict>
            <key>uinfo_sp_spreadtips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1092},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{2047,1145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54595bbeb22a17ccd164eff0fd075c37$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
