<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,811},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>bt_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,700},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>btn_cancelmodify_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,700},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>btn_cancelmodify_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,354},{266,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,91}}</string>
                <key>sourceSize</key>
                <string>{266,91}</string>
            </dict>
            <key>btn_modify_bank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,294},{290,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,72}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>btn_modify_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{290,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,72}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>btn_modify_login_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{292,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,72}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>btn_modify_login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{292,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,72}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>btn_suremodify_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,622},{222,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
            <key>btn_suremodify_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,700},{266,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,91}}</string>
                <key>sourceSize</key>
                <string>{266,91}</string>
            </dict>
            <key>modify_edit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,354},{344,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,50}}</string>
                <key>sourceSize</key>
                <string>{344,50}</string>
            </dict>
            <key>sp_login_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,924},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
            <key>sp_modifyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1018,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,579}}</string>
                <key>sourceSize</key>
                <string>{1018,579}</string>
            </dict>
            <key>sp_modify_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{350,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,65}}</string>
                <key>sourceSize</key>
                <string>{350,65}</string>
            </dict>
            <key>sp_new_bkpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,328},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>sp_new_lgpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,328},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>sp_old_bkpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,968},{177,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,30}}</string>
                <key>sourceSize</key>
                <string>{177,30}</string>
            </dict>
            <key>sp_pass_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,296},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>modify.png</string>
            <key>size</key>
            <string>{872,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:373cd2c02e5517a6a9770bfe006c55e4$</string>
            <key>textureFileName</key>
            <string>modify.png</string>
        </dict>
    </dict>
</plist>
