<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p2_bg_kuang_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,4},{567,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,365}}</string>
                <key>sourceSize</key>
                <string>{567,365}</string>
            </dict>
            <key>p2_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,4},{268,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,208}}</string>
                <key>sourceSize</key>
                <string>{268,208}</string>
            </dict>
            <key>p2_btn_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,656},{271,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,89}}</string>
                <key>sourceSize</key>
                <string>{271,89}</string>
            </dict>
            <key>p2_btn_list_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,656},{235,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,89}}</string>
                <key>sourceSize</key>
                <string>{235,89}</string>
            </dict>
            <key>p2_coin_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,795},{222,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,34}}</string>
                <key>sourceSize</key>
                <string>{222,34}</string>
            </dict>
            <key>p2_sp_ChinaMobile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,741},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>p2_sp_CoinBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,749},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>p2_sp_CoinBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,276},{200,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,69}}</string>
                <key>sourceSize</key>
                <string>{200,69}</string>
            </dict>
            <key>p2_sp_RoomID_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,666},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>p2_sp_RoomID_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,666},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>p2_sp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1252,674}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1252,674}}</string>
                <key>sourceSize</key>
                <string>{1252,674}</string>
            </dict>
            <key>p2_sp_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,666},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>p2_sp_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,800},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>p2_sp_gemstoneRed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,514},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>p2_sp_gemstoneRed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,400},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p2_sp_gemstoneRed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,483},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>p2_sp_gemstoneRed_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,795},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>p2_sp_gemstoneRed_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,756},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>p2_sp_listBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,373},{279,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,553}}</string>
                <key>sourceSize</key>
                <string>{279,553}</string>
            </dict>
            <key>p2_sp_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,682},{1245,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1245,109}}</string>
                <key>sourceSize</key>
                <string>{1245,109}</string>
            </dict>
            <key>p2_sp_txtCoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,400},{110,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,31}}</string>
                <key>sourceSize</key>
                <string>{110,31}</string>
            </dict>
            <key>p2_sp_txtCoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,749},{149,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,55}}</string>
                <key>sourceSize</key>
                <string>{149,55}</string>
            </dict>
            <key>p2_sp_txtCoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,349},{141,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,47}}</string>
                <key>sourceSize</key>
                <string>{141,47}</string>
            </dict>
            <key>p2_sp_txtGamestoneNone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,795},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>p2_sp_txtGamestoneRed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,795},{109,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,33}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>p2_sp_txtGamestoneRed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,749},{149,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,54}}</string>
                <key>sourceSize</key>
                <string>{149,54}</string>
            </dict>
            <key>p2_sp_txtGamestoneRed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,616},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>p2_sp_txtGamestoneblue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,349},{130,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,63}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>p2_sp_txtGamestoneblue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,539},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>p2_sp_txtRoomID_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,514},{80,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,29}}</string>
                <key>sourceSize</key>
                <string>{80,29}</string>
            </dict>
            <key>p2_sp_txtRoomID_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,741},{113,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,55}}</string>
                <key>sourceSize</key>
                <string>{113,55}</string>
            </dict>
            <key>p2_sp_txtRoomID_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,647},{105,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,47}}</string>
                <key>sourceSize</key>
                <string>{105,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public2.png</string>
            <key>size</key>
            <string>{2043,834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f275f2d243061eda405378af8737f11$</string>
            <key>textureFileName</key>
            <string>public2.png</string>
        </dict>
    </dict>
</plist>
