<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_continue_1_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_continue_2_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,983},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_recodeShow_cy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1261},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>bt_recodeShow_cy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1539},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>sp_PiaoHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,177},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sp_QiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,237},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sp_QingYiSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>sp_QiongHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,297},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sp_ShiSanYao.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,89},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>sp_ZhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1817},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sp_ZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,357},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sp_roomHost_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1817},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>sp_title_ZhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,417},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sp_title_roundResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{702,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,72}}</string>
                <key>sourceSize</key>
                <string>{702,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameResult.png</string>
            <key>size</key>
            <string>{106,1866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139356e4dcf51433fd27b73766e148c5:1557c5c13bb256248399921b484fb9ec:efc38904c0e288e6cf555b7761fdfdbd$</string>
            <key>textureFileName</key>
            <string>gameResult.png</string>
        </dict>
    </dict>
</plist>
